In [12]:
import pandas as pd
import tweepy as tw
from sqlalchemy import create_engine
import os
import logging
from datetime import datetime
import pymysql

In [13]:
def conexaotweet():
    consumer_key= 'Sg6ASDPot7uYbmXQ3ksqIvd5N'
    consumer_secret = 's7nlTBSUeWYmWpL42b9X7feMnLhfZjlpDomhTB3PakY40XlxfP'
    bearer_token = 'AAAAAAAAAAAAAAAAAAAAAC4ofgEAAAAA6cha%2B5oOuOPRzEI2ska58Pvpqsc%3DAAM5eMGMWZjcbplPfhEMwdRKgQU8UPUt8rftEqaw7EUnSZfSbD'
    acess_token = '1487773725034520585-laR8tyP0HOdpNvG4f2vesCBsgM3jy4'
    acess_token_secret= 'KFUBFfpte6Zmp2rbYdCKgiq7YEgjgjbbhe9nRQLTCWvWT'

    cliente = tw.Client(bearer_token, consumer_key, consumer_secret, acess_token, acess_token_secret)

    return cliente

In [14]:
resposta = conexaotweet()
tweets= resposta.search_recent_tweets(query='Bolsonario', max_results=100)

dados = tweets.data

In [15]:
id = [] 
texto= [] 
rt = []

for dado in dados:
    id.append(dado.id)
    texto.append(dado.text)

for i in texto:
    if (i[:2]) == 'RT':
        RT = 'retweet'
    else:
        RT = 'tweet'
    rt.append(RT)

In [16]:
df = pd.DataFrame(list(zip(id, texto, rt)),columns= ['ID', 'Texto', 'tipo'])
df['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M')
df.head()

,ID,Texto,tipo,scrapy_datetime
0,1555265955621658624,"@jairbolsonaro O senhor Jesus Cristo, quer ver...",tweet,2022-08-04 16:29
1,1555264266072211457,"@jairbolsonaro Estamos juntos meu querido, jai...",tweet,2022-08-04 16:29
2,1555261803902472193,Bolsonario https://t.co/PiXlz6uY9o,tweet,2022-08-04 16:29
3,1555260253431894023,@CarlaZambelli38 Culpa do LULA pq se tivéssemo...,tweet,2022-08-04 16:29
4,1555251177331298305,@LulaOficial 8 anos no poder @LulaOficial ment...,tweet,2022-08-04 16:29

In [18]:
mysql = create_engine('mysql+pymysql://wrweb301_well:well1003@wrweb.net.br/wrweb301_olist')
df.to_sql('tweets', con=mysql, if_exists= 'append', index=False)

100

In [9]:
query_showroom_schema = """
            CREATE TABLE tweets1 (
            ID                     TEXT, 
            Texto                  TEXT, 
            Tipo                   TEXT,
            scrapy_datetime        TEXT
        )

"""

In [13]:
conn = sqlite3.connect( 'eleicoes2022') #Criando um banco de dados, se ele ja existir ele conecta.
cursor = conn.execute( query_showroom_schema ) #planeja a execução da query no banco de dados
conn.commit() #Executa no banco de dados

In [14]:
#Conectando no arquivo
conn= create_engine('sqlite:///eleicoes2022', echo=False)
conn

Engine(sqlite:///eleicoes2022)